<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Search up your favorite pokemon and find out more information about them!</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <section>
      <h1>Search up your favorite pokemon and find out more information about them!</h1>
      <input id="pokemon" type="text" name="" value="">
      <button type="button" name="button">Gotta catch em all!</button>
      <p id="name"></p>
      <p id="ability"></p>
      <img id="sprite" src="" alt="">
      <p id="version"></p>
    </section>
    <section id="error"></section>
  <script type="text/javascript" src="main.js"></script>
  </body>
</html>

<!--
<% if (user.local.email) { %>
  <form action="/poke" method="POST">
    <input id="pokemon" type="text" name="name" value="<%= user.local.email %>">
    <button type="submit" name="button">Gotta catch em all!</button>
  </form>
<% } %>
<ul class="poke">
  <% for(var i=0; i<poke.length; i++) {%>
    <li class="poke">
      <p id="name"><%= poke[i].name %></p>
      <p id="ability"><%= poke[i].ability %></p>
      <img id="sprite" src="" alt=""><%= poke[i].sprite %></img>
      <p id="version"><%= poke[i].version %></p>
    </li>
  <% } %>
</ul> -->
